@mixin transform($value) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin transition($value){
     -webkit-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    filter: $value;
}

@mixin hover-color($value) {
    color: $value;
}

@mixin padding($value) {
    padding: $value;
}