/*Font Weight*/
$font-weight:(
    "regular": 400,
    "semibold": 600,
    "bold": 700,
    "black": 800
);

/*Bg Color*/
$primary-bg: #1981e1;
$secondary-bg: #fba612;
$danger-bg: #f33a6a;
$white-bg: #fff;

/*Text Color*/
$primary-color: #1981e1;
$secondary-color: #fba612;
$danger-color: #f33a6a;
$white-color: #fff;
$dark-color: #201f33;
$input-color: #6b6a70;

