/******************
Template default css
******************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #242424;
}
img{
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-out 0s;
}
a,
.btn {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.btn {
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
}
a:focus,
.btn:focus,
button:focus{
    outline: none;
}
a{
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #242424;
}
h1 {
    font-size: 46px;
    font-weight: 500;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}
ul,
ol{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #242424;
    margin-bottom: 15px;
}
hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
label {
    font-size: 15px;
    font-weight: 400;
    color: #242424;
}
*::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
/******************
Input
******************/
input:focus,
textarea:focus{
    outline: none;
}
input {
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #626262;
    width: 100%;
}
select {
    width: 100%;
    background: transparent;
    border: 0px solid #eceff8;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
}
textarea {
    resize: vertical;
    background: #eceff8;
    border: 2px solid #eceff8;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 14px;
}
.input-group.divcenter.input-group .form-control {
    padding-left: 0px
}
::-webkit-input-placeholder {
  color: #333;
}

:-ms-input-placeholder {
  color: #333;
}

::placeholder {
  color: #333;
}
/******************
Default margin padding
******************/
m-0{
    margin: 0;
}
p-0{
    padding: 0;
}
/******************
Margin top
******************/
/******************
Margin left
******************/
/******************
Margin right
******************/
/******************
Margin buttom
******************/
